<div class ="container">
    
    <ng-container *ngIf="productFormGroup">
        
        <ng-container *ngIf="state as data">
            <ng-container *ngIf="data.dataState==productsStateEnum.LOADING">
                Loading...
            </ng-container>
            <ng-container *ngIf="data.dataState==productsStateEnum.ERROR">
                Error
            </ng-container>
            <ng-container *ngIf="data.dataState==productsStateEnum.LOADED">
                <div class="alert-success container p-3 m-3">
                    <span>Product Updated Succefully</span>
                    <button class="btn btn-succes ml-3" (click)="okUpdated()">OK</button>
                </div>
            </ng-container>

            <ng-container *ngIf="data.dataState==productsStateEnum.LOADED">
                <ng-container *ngIf="formBuilt">
                <form [formGroup]="productFormGroup" (ngSubmit)="onUpdateProduct()">
                    <div class="form-group">
                        <label for="ID"
                        >ID</label>
                        <label>{{productFormGroup.controls['id'].value}}</label>
                        <input type="hidden" formControlName="id" id="id">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" id="name" [ngClass]="{'is-invalid':submited && productFormGroup.controls['name'].errors}">
                        <div *ngIf="submited && productFormGroup.controls['name'].errors" class="invalid-feedback">
                            <div *ngIf="productFormGroup.controls['name'].errors['required']"> Name is Required </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" formControlName="price">
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" formControlName="quantity">
                    </div>
                    <div class="form-group">
                        <label>Selected</label>
                        <input type="checkbox" formControlName="selected" class="form-check">
                    </div>
                    <div class="form-group">
                        <label>Available</label>
                        <input type="checkbox" formControlName="available" class="form-check">
                    </div>
                    <button type="submit" class="btn btn-success" >Save</button>
            
                </form>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>

</div>